Import pandas

In [27]:
import pandas as pd

Read 'Salaries.csv" as sal

In [28]:
sal = pd.read_csv("Salaries.csv")

/var/folders/t9/8bb3gg6d3g7g2n6_2bz0ncq40000gn/T/ipykernel_74381/2865795940.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv("Salaries.csv")

Read sal header

In [29]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Get sal info

In [3]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

Get the average of BasePay

In [30]:
sal['BasePay'] = sal.BasePay.astype(float)
sal['BasePay'].mean()

ValueError: could not convert string to float: 'Not Provided'

Get max amount of overtime pay

In [26]:
sal['OvertimePay'].max()

TypeError: '>=' not supported between instances of 'float' and 'str'

Get job title for JOSEPH DRISCOLL

In [39]:
name = sal['EmployeeName'] == 'JOSEPH DRISCOLL'
sal[name]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does Joseph Driscoll make?

In [38]:
sal[name]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of the highest paid person?

In [50]:
pay = sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()
sal[pay]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

What is the man of the lowest paid person?

In [56]:
pay = sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()
sal[pay]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [61]:
sal[sal['EmployeeName'] == 'Joe Lopez']['TotalPay']

148653   -618.13
Name: TotalPay, dtype: float64

Their pay is in the negatives. So instead of being paid they are paying the company.

What was the average base pay of employees per year?

In [71]:
sal.groupby('Year')['BasePay'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

What are the top 5 jobs?

In [70]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

What job titles had only one person in 2013?

In [78]:
year = sal['Year'] == 2013
num_titles = sal[year]['JobTitle'].value_counts() == 1
sum(num_titles)

202

How many jobs have the word chief?

In [86]:
counter = 0
for job in sal['JobTitle']:
    if 'chief' in job.lower().split():
        counter = counter + 1
print(counter)

477